html {
    background: #161616;
}

body {
    /*background: url('../../home/vesuvius.svg') no-repeat top center;*/
    background: url('http://gennarolandolfi.codedwork.it/home/vesuvius.svg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    padding: 5rem 0;
}

main {
    width: 70vw;
    margin: 0 auto;
    background: #fff;
    padding: 2.5rem 2rem;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .45);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .45);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .45);
}

table.styled {
    text-align: center;
    border-collapse: collapse;
    margin: .5rem auto;
}

table.styled, .styled th, .styled td {
    border: 1px solid #ccc;
}

table.styled th {
    padding: .7rem .6rem;
    background: rgba(0, 0, 0, .05);
}

table.styled td {
    padding: .5rem;
}

main > section {
    margin: 2rem 0;
}
main > section h1 {
    text-align: center;
}

#education ol {
    list-style-type: none;
}

#education ol > li {
    margin-top: 1.2rem;
}

#education ol > li:before, #education ol li::before {
    content: "\025AA\000A0" attr(data-time);
    display: inline-block;
    vertical-align: top;
    margin-right: .5rem;
    width: 18%;
}

#education ol li > div {
    display: inline-block;
}

#education ol li > div h2 {
    margin-top: 0;
}

section .container {
    margin: 2rem;
}
