html {
    background: #161616;
    color: #000;
}

body {
    /*background: url('../../home/vesuvius.svg') no-repeat top center;*/
    background: url('http://gennarolandolfi.codedwork.it/home/vesuvius.svg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0 !important;
}

main {
    background: #fff;
}

a {
    color: #D01B15;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #a21510;
    border-bottom: 2px dashed #a21510;
}

table th {
    text-align: center !important;
    vertical-align: middle !important;
}

#logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container .logo {
    background-image: url('http://gennarolandolfi.codedwork.it/logo.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 15rem;
    height: 15rem;
    position: absolute;
    transform: rotate3d(0, 1, 0, 0deg);
    filter: brightness(100%);
    transition:
        transform 0.5s ease-in 0.5s,
        filter 0.5s linear 0.5s;
}

#logo-container .avatar {
    display: block;
    background-image: url('https://www.gravatar.com/avatar/2b9efce0f6be60f6f13eb5f2e93cb57e?s=300');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 15rem;
    height: 15rem;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50% !important;
    transform: rotate3d(0, 1, 0, 90deg);
    filter: brightness(50%);
    transition:
        transform 0.5s ease-in,
        filter 0.5s linear;
}

#logo-container:hover {
    cursor: pointer;
}

#logo-container:hover .logo {
    transform: rotate3d(0, 1, 0, 90deg);
    filter: brightness(50%);
    transition:
        transform 0.5s ease-in,
        filter 0.5s linear;
}

#logo-container:hover .avatar {
    transform: rotate3d(0, 1, 0, 0deg);
    filter: brightness(100%);
    transition:
        transform 0.5s ease-in 0.5s,
        filter 0.5s linear 0.5s;
}

#education ol {
    list-style-type: none;
}

#education ol > li {
    margin-top: 1.2rem;
}

#education ol > li:before, #education ol li::before {
    display: inline-block;
    content: "\025AA\000A0" attr(data-time);
    font-size: 12pt;
    margin: .5rem;
    vertical-align: top;
    width: 12vw;
}

#education ol li > div {
    display: inline-block;
    margin-top: 0;
}

.skill-list .column.is-one-fifth {
    text-align: center;
}

.skill.no-fa .skill-text {
    font-weight: bold;
    font-size: 13pt;
}
