html {
    background: #161616;
}

body {
    background: url('../vesuvius.svg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

main {
    width: 80vw;
    margin: 5rem auto;
    background: #fff;
}
